@tailwind base;
@tailwind components;
@tailwind utilities;

.regal-blue {
  background-color: hsl(0, 16%, 92%);
}
.box-shadow {
  box-shadow: 0 0 5px 0 black;
}
.card{
  width: 700px;
  height: 400px;
  box-shadow: 0 4px 8px 0 var(--clr-very-dark-grayish-cyan);
  margin-inline: 30px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 var(--clr-very-dark-grayish-cyan);
  outline: 2px solid red;
}