@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto Slab', serif;
  background-color: hsl(0, 0%, 100%);
}
.regal-blue {
  background-color: hsl(0, 16%, 92%);
  /* background-color: hsl(37, 58%, 77%); */
}
.box-shadow {
  box-shadow: 0 0 5px 0 black;
}
.card{
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 hsl(0, 0%, 1%);
  margin-inline: 30px;
  padding: 20px;
  background-color: hsl(0, 16%, 92%);
  /* background-color: hsl(37, 58%, 77%); */
}

.dark-theme{
  background-color: hsl(207, 26%, 13%);
  color: white;
  transition: background-color 0.5s;
}

.dark-theme-body {
  background-color: hsl(207, 26%, 17%);
  color: white;
  transition: background-color 0.5s;
}
@media (min-width: 768px) {
  .card{
    width: 700px;
    height: 400px;
  }
}
@media (max-width: 768px) {
  .card {
    min-width: 360px;
    height: 450px;
  }
}
.button {
  color: white;
  border-radius: 100vw;
  height: max-content;
  width: max-content;
  padding: 5px;
  padding-inline: 10px;
  border: 0;
  cursor: pointer;
  background-color: rgb(2 132 199);
  transition: transform 0.3s;
  box-shadow: 0px 03px 8px 0px hsl(0, 0%, 0%);
}
.button:hover,
.button:focus {
transform: scale(1.07);
}
.button a {
  text-decoration: none;
  color: white;
  font-weight: var(--fw-bold);

}
.socials li {
  height: 30px;
  width: 28px;
}


.nav-link {
  position: relative;
  font-weight: 600;
}



.nav-link::before,
.nav-link::after {
  content: "";
  position: absolute;
  bottom: -2px; 
  width: 50%; 
  border-bottom: 2px solid transparent; 
  transition: width 0.3s ease;
}

.nav-link::before {
  left: 0;
}

.nav-link::after {
  right: 0;
}

.active::before,
.active::after {
  width: 50%; 
  border-bottom-color: red;
}

.nav-link:hover::before,
.nav-link:hover::after {
  width: 0;
  border-bottom-color: red;
}

